<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<%- include ('../partials/userInfo') %>
    <h1>Join Quiz Group</h1>
    <p>Join a Quiz Pals Group and compete with your friends!.</p>
    
    <% if(quiz!=null) { %>
        <table>
            <thead><tr><th>Quiz Group</th><th></th></tr></thead>
            <tbody>
                <% for (i=0; i <quiz.length; i++) { %>
                    <tr>
                        <form name="form2" method="POST" action="/quizgroup/login">
                        <input type="hidden" id="_id" name="_id" value="<%= quiz[i]._id %>">
                        <td><%= quiz[i].GroupName %></td>
                        <!--<td><a href="/joinquizgroup<%# quiz[i]._id %>">Join</a></td> -->              
                        <td><input type="submit" value="Join"></td>
                        </form>
                    </tr>
                    <% } %>
            </tbody>
        </table>    
         <% } %>
    <form name="form1" method="POST" action="/quizgroup/dashboard">
        <% if(login!=null) { %>
        <% for (i=0; i <login.length; i++) { %>
        <p>Groupname</p>
        <input type="hidden" id="_id" name="_id" value="<%= login[i]._id %>">
        <input type="text" id="inputGroupName" value="<%= login[i].GroupName %>" />
        <input type="hidden" id="password" name="password" value="<%= login[i].Password %>">
        <p> Password </p>
        <input type="password" id="inputPassword" />
        <input type="submit" value="Login">
         <% } %>
        <% } %>
    </form>
</body>
</html>