<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <!-- <h1><%#= quizGroup %></h1> -->
    <% for (i=0; i <quizGroup.length; i++) { %>
                        <h1><%= quizGroup[0].GroupName %> : Dashboard</h1>            
                    <% } %>
    <p>View Group-members, Quizzes and the Scoreboard</p>
    <b>Group Members</b>
        <table>
            <thead><tr><b> Name </b><b> UserName </b></tr></thead>
            <tbody>           
                <% for (i=0; i <quizGroup.length; i++) { %>
                    <tr>
                        <td><%= groupMembers[i].FullName %></td>
                        <td><%= groupMembers[i].UserName %></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </br>
    <b>Scoreboard</b>
    <% for (i=0; i <userScores.length; i++) { %>
                        <p>User :<%= userScores[i].Username %>  Grand-total: <%= userScores[i].HighScore %>  </p>                                         
    <% } %>
    </br>
    <b>Quizzes</b>
    </br>
    <% if(quizzes!=null) { %>
    <table>  
            <thead><tr><th>Available Quizzes</th><th></th></tr></thead>
            <tbody>           
                <% for (i=0; i <quizzes.length; i++) { %>
                    <tr>
                    <form name="form1" method="POST" action="/quizgroup/takequiz">
                    <input type="hidden" id="_id" name="_id" value="<%= quizGroup[0]._id %>">
                    <input type="hidden" id="_quizID" name="_quizID" value="<%= quizzes[i]._id %>">
                        <td><%= quizzes[i].QuizTitle %></td>
                        <td><%= quizzes[i].QuizCreator %></td>
                        <td><input type="submit" value="Take Quiz"></td>
                    </form>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    <% } %>

    </br>
    <% for (i=0; i <quizGroup.length; i++) { %>
    <form name="form1" method="POST" action="/quizGroup/quiz">
    <input type="hidden" name="quizGroupID" value="<%= quizGroup[i]._id %>">
    <input type="submit" value="Create a Quiz">
     <% } %>
    </form>

</body>
</html>